/*
-- Estilos CSS - Website da Empresa
*/

/*
-- Padrões e Reset
*/

/*
-- Tipografia e Cores
*/

/*
-- Estrutura
*/

/*
-- Estilos específicos de Sessão
*/

/*
-- Formulários
*/

/*
-- Tabelas
*/

/*
-- Classes de Uso Geral
*/
.header {
    display: block;
}

.wrap {
    display: block;
    width: 960px;
}
@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald|Roboto:400,500,700');
font-family: 'Roboto', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
