/*
-- Estilos CSS - Website da Empresa
*/

/*
-- PadrÃµes e Reset
*/

/*
-- Tipografia e Cores
*/

/*
-- Estrutura
*/

/*
-- Estilos especÃ­ficos de SeÃ§Ã£o
*/

/*
-- FormulÃ¡rios
*/

/*
-- Tabelas
*/

/*
-- Classes de Uso Geral
*/
.header {
    display: block;
}

.wrap {
    display: block;
    width: 960px;
}
