a {
  outline: none; }
  a img {
    border: none; }

.content {
  margin-left: -15px;
  margin-right: -15px; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }

.navegacao-fixa {
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(202, 48, 52, 0.8) !important; }

.navegacao-fixa .navbar {
  background: transparent !important; }

.container .heading,
.container .widget > .widget__title {
  margin: 0 0 30px;
  font: bold 18px "Roboto", sans-serif;
  color: #636363;
  position: relative;
  line-height: 30px;
  text-indent: 14px; }
  .container .heading > span,
  .container .widget > .widget__title > span {
    display: inline-block;
    width: 8px;
    height: 30px;
    background: #C72327;
    position: absolute;
    top: 0;
    left: 15px; }
.container .heading {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .container .heading {
      float: left;
      width: 100%; } }
.container .widget > .widget__title > span {
  left: 0; }

.sprite_servicos {
  background-image: url(../images/sprite-redes-sociais.png);
  background-repeat: no-repeat; }

.sprite_redes_sociais, body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon {
  background-image: url(../images/sprite-redes-sociais.png);
  background-repeat: no-repeat; }

body > header {
  padding: 25px 0;
  background: #4CAF50; }
  body > header > .content {
    margin-left: -15px;
    margin-right: -15px; }
    body > header > .content:before, body > header > .content:after {
      content: " ";
      display: table; }
    body > header > .content:after {
      clear: both; }
    body > header > .content > .logo-container {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; }
      @media (min-width: 992px) {
        body > header > .content > .logo-container {
          float: left;
          width: 25%; } }
      body > header > .content > .logo-container > .logo-container__logo {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px; }
        @media (min-width: 992px) {
          body > header > .content > .logo-container > .logo-container__logo {
            float: left;
            width: 83.33333%; } }
    body > header > .content > .search-container {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; }
      @media (min-width: 992px) {
        body > header > .content > .search-container {
          float: left;
          width: 58.33333%; } }
      @media (min-width: 992px) {
        body > header > .content > .search-container {
          margin-left: 41.66667%; } }
      body > header > .content > .search-container input {
        height: 45px;
        font: 13px "Roboto", sans-serif;
        color: #FFFFFF;
        margin-top: 7px; }
    body > header > .content > .menu-container {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; }
      @media (min-width: 992px) {
        body > header > .content > .menu-container {
          float: left;
          width: 58.33333%; } }
      @media (min-width: 992px) {
        body > header > .content > .menu-container {
          margin-left: 41.66667%; } }
      body > header > .content > .menu-container .navbar {
        border-radius: 6px;
        box-shadow: none;
        border: none;
        background: #558b2f; }
        body > header > .content > .menu-container .navbar .navbar-collapse {
          border: none; }
          body > header > .content > .menu-container .navbar .navbar-collapse > ul.navbar-nav > li {
            padding-left: 5px;
            padding-right: 5px; }
            body > header > .content > .menu-container .navbar .navbar-collapse > ul.navbar-nav > li.active > a {
              background: #33691e;
              color: #fff;
              font: bold 17px "Roboto", sans-serif; }
              body > header > .content > .menu-container .navbar .navbar-collapse > ul.navbar-nav > li.active > a:hover {
                color: #76ff03; }
            body > header > .content > .menu-container .navbar .navbar-collapse > ul.navbar-nav > li a {
              color: #fff; }
              body > header > .content > .menu-container .navbar .navbar-collapse > ul.navbar-nav > li a:hover {
                color: #76ff03;
                background: #33691e; }

#slider {
  margin-bottom: 30px; }
  #slider .item img {
    display: block;
    width: 100%;
    height: auto; }

#produtos > #produtos__itens > .produtos__item {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #C72327;
  background-clip: content-box;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    #produtos > #produtos__itens > .produtos__item {
      float: left;
      width: 50%; } }
  @media (min-width: 992px) {
    #produtos > #produtos__itens > .produtos__item {
      float: left;
      width: 25%; } }
  #produtos > #produtos__itens > .produtos__item > img {
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2); }
  #produtos > #produtos__itens > .produtos__item > h2 {
    font: bold 20px "Roboto", sans-serif;
    text-align: center;
    margin: 20px 0 10px;
    padding: 0;
    color: #fff; }
  #produtos > #produtos__itens > .produtos__item > p {
    margin: 0 0 10px;
    text-align: center;
    color: #ddd;
    font: 300 13px "Roboto", sans-serif; }
  #produtos > #produtos__itens > .produtos__item > a.read-more {
    margin-bottom: 15px;
    background: #fff;
    color: #C72327;
    font: bold 13px "Roboto", sans-serif;
    padding: 5px 0;
    text-align: center;
    display: block;
    width: 78px;
    float: right;
    margin-right: 15px;
    border: 2px solid #fff;
    transition: all 0.2s linear; }
    #produtos > #produtos__itens > .produtos__item > a.read-more:hover {
      background: #C72327;
      color: #fff;
      text-decoration: none;
      transition: all 0.2s linear; }

body > footer {
  background: #ccc;
  padding: 30px 0 0; }
  body > footer > .container {
    padding-bottom: 95px; }
  body > footer #footer-sidebar > .footer-widget {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      body > footer #footer-sidebar > .footer-widget {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 992px) {
      body > footer #footer-sidebar > .footer-widget {
        float: left;
        width: 33.33333%; } }
    body > footer #footer-sidebar > .footer-widget > h4.widget__title {
      position: relative;
      margin: 12px 0;
      height: 36px;
      font: 22px "Roboto", sans-serif;
      color: #000;
      text-indent: 12px;
      padding-top: 6px; }
      body > footer #footer-sidebar > .footer-widget > h4.widget__title > span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 36px;
        background: #FFF; }
    body > footer #footer-sidebar > .footer-widget p {
      color: #000;
      font: 11px "Roboto", sans-serif; }
    body > footer #footer-sidebar > .footer-widget > ul#fotos {
      list-style: none;
      padding: 0; }
      body > footer #footer-sidebar > .footer-widget > ul#fotos > li {
        float: left;
        display: inline;
        width: 30%;
        margin: 0 5% 5% 0; }
        body > footer #footer-sidebar > .footer-widget > ul#fotos > li:nth-child(3n) {
          margin-right: 0; }
    body > footer #footer-sidebar > .footer-widget.footer-widget--about a {
      display: block;
      width: 80%; }
    body > footer #footer-sidebar > .footer-widget.footer-widget--about p {
      width: 75%;
      margin: 20px 0 0; }
  body > footer > #redes-sociais {
    background: #424242;
    padding: 10px 0; }
    body > footer > #redes-sociais #redes-sociais__container {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; }
      @media (min-width: 992px) {
        body > footer > #redes-sociais #redes-sociais__container {
          float: left;
          width: 100%; } }
      body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li {
        display: inline;
        float: left;
        margin-right: 5px; }
        body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon {
          display: block; }
          body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon, body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon:hover {
            transition: all 0.2s linear; }
          body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon.icon--facebook {
            width: 30px;
            height: 30px;
            background-position: -5px -48px; }
            body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon.icon--facebook:hover {
              backgroung-position-y: -5px; }
          body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon.icon--twitter {
            width: 30px;
            height: 30px;
            background-position: -5px -132px; }
            body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon.icon--twitter:hover {
              backgroung-position-y: -89px; }
          body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon.icon--youtube {
            width: 30px;
            height: 30px;
            background-position: -6px -216px; }
            body > footer > #redes-sociais #redes-sociais__container > ul#redes-sociais__icons > li > a.icon.icon--youtube:hover {
              backgroung-position-y: -173px; }

@media screen and (max-width: 768px) {
  body > header > .content > .logo-container > .logo-container__logo {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%; }
  body > footer #footer-sidebar > .footer-widget.footer-widget--about a,
  body > footer #footer-sidebar > .footer-widget.footer-widget--about p {
    text-align: center; }
  body > footer #footer-sidebar > .footer-widget.footer-widget--about a {
    margin-left: 20%; }
    body > footer #footer-sidebar > .footer-widget.footer-widget--about a > img {
      margin: 0 auto; }
  body > footer #footer-sidebar > .footer-widget.footer-widget--about p {
    width: 100%; } }
@media screen and (min-width: 500px) and (max-width: 768px) {
  body > footer #footer-sidebar > .footer-widget.footer-widget--about a {
    width: 40%;
    margin-left: 30%; }
    body > footer #footer-sidebar > .footer-widget.footer-widget--about a > img {
      margin: 0 auto; } }
@media screen and (min-width: 300px) and (max-width: 499px) {
  body > footer #footer-sidebar > .footer-widget.footer-widget--about a {
    width: 50%;
    margin-left: 30%; }
    body > footer #footer-sidebar > .footer-widget.footer-widget--about a > img {
      margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
