.sprite_servicos{
    background-image: url(../images/sprite-redes-sociais.png);
    background-repeat: no-repeat;
}
.sprite_redes_sociais{
    background-image: url(../images/sprite-redes-sociais.png);
    background-repeat: no-repeat;
}