a{
	outline: none;
	img{
		border: none;
	}
}
a.saiba-mais{
        //margin-top: 15px;
        margin-bottom: 15px;
		background: #8BC34A;
		color:#fff;
		font: bold 13px $font_main;
		padding: 10px;
		text-align: center;
		display: block;
		width: auto;
		float: right;
		margin-right: 15px;
		border: 2px solid #4CAF50;
		transition: all 0.2s linear;
		&:hover{
			background: #33691E;
			color: #76FF03;
			text-decoration: none;
			transition: all 0.2s linear;
	}
}
.content{
	@include make-row;
}

.navegacao-fixa{
	position: fixed;
	top: 0;
	z-index:999;
	background:rgba(202, 48, 52, 0.8) !important;
}
.navegacao-fixa .navbar{
	background: transparent !important;
}
.container-fluid{
    background-image: url(../images/background-1920x1080p.png);
    background-repeat: repeat;
}
.container{
	.heading,
	.widget > .widget__title{
		margin: 0 0 30px;
		font: bold 18px $font_main;
		color: $heading_color;
		position: relative;
		line-height: 30px;
		text-indent: 14px;
		> span{
			display: inline-block;
			width: 8px;
			height: 30px;
			background: $heading_tarja_color;
			position: absolute;
			top: 0;
			left: 15px;
		}
	}
	.heading{
		@include make-md-column(12);
	}
	.widget > .widget__title{
		> span{
			left: 0;
		}
	}
}
section{
    padding-bottom: 30px;
    
    div{
        >article{
            background: rgba(255,255,255,0.7);
            padding: 5px 25px 55px;
        }//Fim do article
    }// Fim do DIV
}//Fim do section

//.sprite_servicos{
  //  background-image: url(../images/sprite-redes-sociais.png);
    //background-repeat: no-repeat;
//}

