#blog{
    margin-top: 30px;
    > h2.heading {
        @include make-md-column(9);
    }
    > .teste {
        @include make-md-column(9);
        background: rgba(255,255,255,0.7);
        padding-top: 15px;
    }
        #posts{
        @include make-xs-column(12);
        @include make-sm-column(9);
        @include make-md-column(9);
            > .post__item{
                margin-bottom: 15px;
                > h2 {
                    font: 300 26px $font_main;
                    color: #CC1F22;
                    margin: 15px 0 5px;
                } // Fim do h2
                > p {
                    font: 300 16px $font_main;
                    color: #000;
                    line-height: 1.5;
                    margin-bottom: 15px;
                } //Fim do p
                > a.read-more {
                    display: block;
                    float: right;
                    width: 140px;
                    padding: 10px 0;
                    background-color: #CD1F23;
                    text-align: center;
                    font: 300 14px $font_main;
                    color: #fff;
                } // Fim do a.read-more
            } // Fim .post__item
        } // Fim posts
    aside{
        @include make-xs-column(12);
        @include make-sm-column(3);
        @include make-md-column(3);
        background: rgba(255,255,255,0.7);
    } // Fim do aside
} // Fim Blog

