body{
    background-image: url(../images/background-1920x1080p.png);
    background-repeat: repeat;
    > header{
        padding: 25px 0;
        background: #4CAF50;
        > .logo{
            @include make-row;
            > .logo-container{
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(4);
                padding: 0px 25px 25px;
            > .logo-container__logo{
                display: block;
                >.box-shadow{
                    position: relative;
                    box-shadow: 25px 25px 50px rgba(0,0,0,.5);        
                }
                } // Fim .logo-container__logo 
            } // Fim .logo-container
        } // Fim do logo
            > .menu-container{
                @include make-md-column(7);
                @include make-md-column-offset(5);
                .navbar{
                    border-radius: 6px;
                    box-shadow: none;
                    border: none;
                    background: #558b2f;
                    .navbar-toggle{
                        border-color: #76ff03;
                        background: #33691e;
                        &:hover{
                            background: #33691e;
                            border-color: #33691e;
                            .icon-bar{ background: #76ff03;}
                        }
                        &:focus{
                            background: #33691e;
                            border-color: #33691e;
                            .icon-bar{ background: #76ff03;}
                        }
                        > .icon-bar{
                            background: #fff;
                        }
                    }
                    .navbar-collapse{
                        border: none;
                        > ul.navbar-nav{
                            > li{
                                padding-left: 5px;
                                padding-right: 5px;                                
                                &.active{
                                    > a{
                                        background: #33691e;
                                        color: #fff;
                                        font: bold 17px $font_main;
                                        &:hover{
                                        color: #76ff03;                                        
                                        }
                                    }
                                    
                                }
                                a{
                                    color: #fff;
                                    &:hover{
                                    color: #76ff03;
                                    background: #33691e;
                                    }
                                } // Fim a > li > ul.navbar-nav 
                            } // Fim li > ul.navbar-nav
                        } // Fim ul.navbar-nav
                    } // Fim navbar-collapse
                } // Fim navbar
              } // Fim do menu-container
        } // Fim do header 
} // Fim do Body